body {
	font-family: sans-serif;
	background: #eee;
	box-sizing: border-box;
}

.container {
	width: 600px;
	margin: 0 auto;
}

.menuCadastro {
	background: #11a1e4;
	padding: 20px 0;
	color: #f7fbfb;
	font-size: 2.25em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.opcoes img {
	width: 200px;
	height: 200px;
	margin: 40px;
	float: left;	
}