body {
  font-family: sans-serif;
  background: #eee;
}


.menu {
	background: #11a1e4;
	padding: 20px 0;
	color: #f7fbfb;
	font-size: 2.25em;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.box-login {
  max-width: 450px;
  margin: 40px auto;
  background: #fff;
}

.box-login>form {
  width: 85%;
  margin: auto;
  padding: 5%;
}

.box-login fieldset {
  border: 0;
}

.box-login legend {
  margin-bottom: 10%;
  font-size: 1.8em;
  color: #11a1e4;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px auto;
}

.box-login input[type="text"], .box-login input[type="password"] {
  border: 1px solid #ddd;
  width: 100%;
  padding: 8px 8px;
  margin: 5px 0;
  font-size: 1.125em;
}

.box-login input::placeholder {
  text-align: center;
  text-transform: uppercase;
}

.box-login button[type="submit"] {
  border: 0;
  background: #11a1e4;
  padding: 10px 15px;
  width: 100%;
  color: #fff;
  font-size: 1.125em;
  text-transform: uppercase;
  cursor: pointer;
}

.box-login button[type="submit"]:hover {
  background-color: #0083c0;
  transition: 1s;
}